/* 헤더 */
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header {
  max-width: 1680px;
  height: 60px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background: white;
}

.header > .logo > a {
  display: flex;
  align-items: center;
}

.header > .nav {
  display: unset;
  width: calc(100% - 433.2px);
  height: 100%;
}

.header > .nav > ul.gnb {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header > .nav > ul.gnb > li {
  height: 100%;
  line-height: 60px;
}

.header > .nav > ul.gnb ul.lnb {
  height: 200px;
  top: 80%;
  left: -10px;

  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
  padding: 5px 0;
}

.header > .nav > ul.gnb > li:hover > .lnb {
  display: block;
}

.header > .nav ul.lnb > li {
  height: 47.5px;
  line-height: 47.5px;
  padding-left: 10px;
}

.header > .nav ul.lnb > li:hover {
  background: #8ebbff;
}

/* 푸터 */
.footer {
  max-width: 1680px;
  height: 500px;
  margin: 0 auto;
  background: olivedrab;
}

/* 공통 스타일 */
.font-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #0d6efd;
}

button {
  width: 130px;
  height: 40px;
}

button + button {
  margin-left: 20px;
}

.content-left, .content-right {
  flex: 1;
}