@charset "UTF-8";

/* 메인 */
.main {
  /* max-width: 1680px; */
  margin: 0 auto;
  padding: 60px 80px;
}

/* 서브 페이지 */
/* 구글맵 영역 */
.map-container {
  height: 440px;
  display: flex;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  font: 400 18px;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: #ebebeb;
}

/* 입력 영역 */
.form-container {
  padding-top: 20px;
}