@charset "UTF-8";

/* 메인 */
.main {
  /* max-width: 1680px; */
  margin: 0 auto;
  padding-top: 60px;
}

/* 섹션1: 인트로 */
.intro {
  height: 600px;
  background: rgba(0, 0, 0, 0.97);

  display: flex;
  justify-content: center;
}

.intro-container {
  width: 1680px;
  /* max-width: 1680px; */
  display: flex;

  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.intro > .intro-container > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 섹션2: 슬라이더 */
.slider {
  height: 600px;
}

.swiper {
  width: 100%;
  height: 100%;
  max-width: 1680px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 섹션3: 리스트 */
.course-list {
  height: 800px;
  background: #F5F5F5;
}

.course-list > p {
  font-weight: 400;
  font-size: 56px;
  line-height: 80px;
  letter-spacing: -0.015em;
  text-align: center;
  padding: 50px 0;
}

.course-list > div.container div.row {
  row-gap: 30px;
}

.course-list > div.container div.col {
  height: 250px;
}

.course-list > div.container div.col > div:first-child {
  cursor: pointer;
}

/* .course-list > div.container div.col > div:last-child {
  height: 100%;
} */