@charset "UTF-8";

/* 메인 */
.main {
  /* max-width: 1680px; */
  margin: 0 auto;
  padding-top: 60px;
}

/* 섹션1: 인트로 */
.intro {
  height: 600px;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.97);
}

.intro-container {
  max-width: 1680px;
  width: 100%;
  display: flex;

  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.intro > .intro-container > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 섹션2: 슬라이더 */
.slider {
  height: 600px;
}

.swiper {
  width: 100%;
  height: 100%;
  max-width: 1680px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 섹션3: 리스트 */
.course-list {
  /* 반응형에 따라 콘텐츠 리스트의 로우가 늘어나므로 고정 높이를 주면 안됨 */
  /* height: 800px; */
  /* 패딩 값으로 높이 해결 */
  padding-bottom: 90px;
  background: #F5F5F5;
}

.course-list > p {
  font-weight: 400;
  font-size: 56px;
  line-height: 80px;
  letter-spacing: -0.015em;
  text-align: center;
  padding: 50px 0;
}

.course-list img {
  /* width: 100%;
  height: 100%; */
}

.course-list > div.container div.row {
  row-gap: 30px;
}

.course-list > div.container div.col {
  /* height: 250px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-list > div.container div.col > div:first-child {
  /* width: 100%; */
  /* flex: 4; */
  cursor: pointer;
}

.course-list > div.container div.col > div:last-child {
  /* flex: 1; */
  /* align-self: flex-start; */
}

.course-list > div.container div.col:last-child > div:first-child {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 섹션4: 가이드 */
.guide {
  height: 600px;
  display: flex;
  justify-content: center;
}

.guide-container {
  max-width: 1680px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.guide-container img {
  max-width: 750px;
  width: 100%;
  height: auto;
}

.guide-container > .content-left,
.guide-container > .content-right {
  display: flex;
  justify-content: center;
}

.guide-container > .content-right > .description {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

/* 섹션5: 기능 */
.feature {
  height: 600px;
  display: flex;
  justify-content: center;
  background: #F5F5F5;
}

.feature-container {
  max-width: 1680px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.feature-container img {
  max-width: 750px;
  width: 100%;
  height: auto;
}

.feature-container > .content-left,
.feature-container > .content-right {
  display: flex;
  justify-content: center;
}

.feature-container > .content-left > .description {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

/* 0 ~ 767 : 모바일 */
@media screen and (max-width: 767px) {
  /* 메인 */
  .main {
    padding-top: 48px;
  }
}

/* 768 ~ 1023 : 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* 1024 이상 : 데스크탑 */
@media screen and (min-width: 1024px) {

}